<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-play.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style-tutorial.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='src/favicons/favicon.ico') }}">
    <script type="module" src="{{ url_for('static', filename='scripts/script-tutorial.js') }}" defer></script>
    <title>Nonogram</title>
</head>


<body>
    <a class='btn btn-outline-light close-btn p-0 mode position-absolute top-0 end-0 w-1 h-1 m-3' href={{url_for('index')}}><i class="bi bi-x"></i></a>

    <div class="cloudBox">
        <div class="cloud" id="cloud">Welcome to Nonogram!</div>
    </div>
    <div class="box" draggable="false">
        <div class="colDiv" draggable="false"><p></p></div>
        <div class="rowDiv" draggable="false"></div>
        {%for i in range(0, 5)%}
            {%for j in range(0, 5)%}
                <div style="grid-row: {{i+2}}/{{i+3}}; grid-column: {{j+2}}/{{j+3}}" data-x={{j}} data-y={{i}} draggable="false" class="field" id="{{ i+j+ i*4 }}"></div>
            {%endfor%}
        {%endfor%}

        <div class="imgDiv">

        </div>
    </div>

    <label class="toggle-switch square">
        <input type="checkbox" id="checkbox" checked>
        <span class="slider"></span>
    </label>

    <div class="endDiv">
        <h3 class="endText"></h3>
        <button class="btn btn-outline-warning" onclick="window.location.reload();">Start again</button>
        <a class="btn btn-outline-danger" href="{{ url_for('index') }}">Back to the menu</a>
    </div>
</body>
</html>